<h1>Resources</h1>
<div>
  <h3>Product Development</h1>
  <p>
    <iframe width="100%" height="200" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=2DD7066B76175DD6%2137702&authkey=%21AChElmBTTEN-ML0&em=2&Item=Table3&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True">
    </iframe>
    <br>
    <a href="https://1drv.ms/x/s!AtZdF3ZrBtctgqZGHl2EnZm6dpWSGQ">
      Edit Link
    </a>
    <br>
    <a href="https://www.codecademy.com/learn/learn-rails">
      Codecademy Link
    </a>
    <br>
    <a href="./ROR Textbook.pdf">
      ROR Textbook
    </a>
    <br>
  </p>
</div>
<div>
  <h3>Research and Develpoment</h3>
  <p>
    <a href="">

    </a>
    <a href="">

    </a>
  </p>
</div>
<div>
  <h3>Finance</h3>
  <p>
    <a href="">

    </a>
    <a href="">

    </a>
  </p>
</div>
<div>
  <h3>Mailing</h3>
  <p>
    <h5> Executive</h5>
    <a href="mailto:patel.varun@icloud.com">
      Varun Patel
    </a>
    <h5>Board</h5>
    <a href="mailto:">
      Board
    </a>
    <h5>Product Development
  </p>
</div>
