<!DOCTYPE = HTML>
<html>
  <head>

  </head>

  <body>
      <h1>
        Welcome To Triton
      </h1>
      <div>
        <p>
          this site is currently under development
        </p>
        <p>
          <a href="mailto:patel.varun@icloud.com">
            contact the developers
          </a>
        </p>
      </div>
      <div>
        <p>
          employees can go to
          <a href="../employees/index">
            here
          </a>
          for resources
        </p>
      </div>
    </body>
</html>
